<html>
  <head>
    <title>Cars for sale</title>
  </head>
  <body>
    <h1>You have added a car!</h1>
    <h3>Make: {{ newcar.getModel }}</h3>
    <p>$ {{ newcar.getPrice }}</p>
    <p> {{ newcar.getMiles }} Miles</p>
    <p><img src= {{ newcar.getPhoto }} width= 35%></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
